body {
  background-color: lightblue;
  font-family: 'Courier New', Courier, monospace;
}

#titulo-1 {
  color: rgb(76, 0, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 200%;
}
.parrafos {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#titulo-2 {
  color: rgb(64, 27, 228);
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 200%;
}


